body {
    margin: 0px;
	background-color: #CCC;
}

header {

    background-color: #FFF;
    margin: 0px;
}


/* index.php styling */

.recent-products-title {

	text-align: center;

}

.homepage-card {

	border: none;
    padding: 15px;
    cursor: pointer

}

.link-icons {

	text-align: right;
	padding: 1rem;

}

.nav-links {

	text-align: center;
	font-size: 1.3rem;
	padding: 1rem;

}

/* HERE FOR HOMEPAGE */

body {
    background-color: #eee;
}

.product {
    padding: 10px;
    background-color: #fff;
    position: relative
}


.about span {
    font-size: 13px
}

.dot-background {
    height: 40px;
    width: 40px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 10%;
    z-index: 10;
    bottom: -5%
}

.fa-arrow-right {

	color: white;
}







/* Individual product page css */

.product-name {

	text-align: center;
}


.product-wrapper {

	display: flex;
	justify-content: center;
	width: 50%;
	margin: auto auto;
}


.single-product-details {


	display: flex;
	flex-direction: column;
	padding: 1rem;

}

.price, .product-description {

	text-align: center;
	padding-bottom: 1rem;
}


/* Single Product Page styling */
.product-price {

	text-align: center;
}

.product-card {

	margin: auto;
	margin-top: 6vh;
    max-width: 950px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;
    border: transparent;
}



/* Shopping Cart Styling */


.card {

    margin: auto;
	margin-top: 6vh;
    max-width: 950px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;
    border: transparent;
}

@media(max-width:767px) {
    .card {
        margin: 2vh auto;
    }
}

.cart {
    background-color: #FFF;
    padding: 3vh 4vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px) {
    .cart {
        padding: 3vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: rgb(238, 238, 238);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 3vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}


.row {
    margin: 1px;
	width: 100%;
}


.main {
    margin: 0;
    padding: 2.2vh 0;
    width: 100%;
}


a {
    padding: 0 1.2vh;
}


.shoppingCart-img {
    width: 4rem;
}

.checkout-action-btns{

    margin-top: 1rem;
}

h5 {

    margin-top: 4vh;
	
}

.empty-cart-text{

	text-align: center;
	margin-bottom: 2rem;

}


.cart-titles {

	margin-top: 2rem;
	font-weight: bold;

}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 1vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1rem;
    border-radius: 0
}



.btn:hover {
	background-color: #fff;
    color: black;
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

.empty-cart {

	background-color: rgba(0, 0, 0, 0.618);
	border: none;

}

.empty-cart:hover {

	background-color: #FFF;
	border: 1px solid #000;

}

.empty-checkout-disabled-btn {

    background-color: #000;
    border-color: #000;
	opacity: 0.6;
    color: white;
    width: 100%;
    font-size: 1rem;
    padding: 0.7vh;
    border-radius: 0
}


